/* IMPORTS */

@font-face {
    font-family: 'GoogleSans';
    src: url(./assets/GoogleSans.ttf) format('truetype'),
         url(./assets/GoogleSans-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* VARIABLES DEFINITION */

:root {
    --bg-color: #fff;
    --text-color: #3c4043;
    --footer-bg: #f2f2f2;
    --border-color: #dadce0;
    --hover-bg: #f8f9fa;
    --icon-color: #5f6368;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

a {
    font-family: GoogleSans, sans-serif;
    text-decoration: none;
    color: rgb(45, 45, 45);
    cursor: pointer;
}

/* GENERAL CHANGES */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
}

a:hover {
    text-decoration: underline;
}

/* HEADER CHANGES */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
}

nav {
    display: flex;
    gap: 12px;
}

nav a {
    font-size: 13px;
    color: #000;
    opacity: 0.87;
}

.header-icon img {
    width: auto;
    height: auto;
    cursor: pointer;
}

.profile-icon {
    width: 36px;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
}

/* MAIN SECTION */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 1;
    margin-bottom: 10px;
}

.img_logo {
    max-width: 272px;
    width: auto;
    height: 92px;
}

.search-container {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-box {
    width: 100%;
    max-width: 584px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    height: 46px;
    background: #fff;
    border: 1px solid var(--border-color);
    box-shadow: 0px 1px 6px rgba(32, 33, 36, 0.0);
    border-radius: 24px;
}

.search-box:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(34, 35, 37, 0.28);
    border-color: rgba(223,225,229,1);
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    height: 100%;
    color: rgba(0,0,0,0.87);
}

.search-icon {
    height: 20px;
    width: 24px;
    fill: var(--icon-color);
    margin-right: 12px;
    cursor: pointer;
    opacity: 0.6;
}

.search-icon:last-child {
    margin-right: 0;
}

.lupa {
    width: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 8px; 
    padding-top: 18px;
}

.google-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 7px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 19px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.google-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    color: #202124;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: column;
}

.footer-row {
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: #70757a;
}

.footer-row.top {
    border-bottom: 1px solid var(--border-color);
    color: #70757a;
}

.footer-row.bottom {
    justify-content: space-between;
}


.footer-row a {
    color: #70757a;
    font-family: arial, sans-serif;
}

.footer-row a:hover {
    text-decoration: underline;
    color: #70757a;
}

/* RESPONSIVENESS */

@media (max-width: 825px) {
    footer {
        position: relative;
    }
    .footer-row.top {
        justify-content: center;
    }
    .footer-row.bottom {
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    .links-left,
    .links-right {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 510px) {
    footer {
        position: relative;
    }
    .footer-row.top {
        justify-content: center;
    }
    .footer-row.bottom {
        justify-content: center;
        gap: 20px;
        padding-bottom: 20px;
    }
    .links-left,
    .links-right {
        justify-content: center;
        width: 100%;
    }
}